#homeMain {
    background-color: whitesmoke;
    min-height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 1em;
}

.homeCardsContainer{
    display: flex;
    justify-content: center;
    column-count: 2;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    // width: 100%;
    height: 100%;
}

.homeCardsContainer>*{
    flex: 1 1 160px;
}

.homeCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 350px;
    height: 250px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.homeCardLi{
    width: fit-content;
    color: #233142;
    font-size: 18px;
    font-weight: bold;
}

.homeCardLi:hover {
    background-color: #455d7a;
    color: whitesmoke;
    cursor: pointer;
}

img{
    width: 99%;
    height: 99%;
    // margin-bottom: 10px;

}



#contactFormDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

#contactForm{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    width: 600px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 10px;
   

    button {
        width: 100px;
        margin-top: 5px;
        align-self: center;
        background-color: darkgrey;
        box-shadow: 2px 2px 2px black;
    }
 
    input { 
        // margin-left: 5px;
        width: 250px;
      
    }
    .contactForm-message{
        
        input {
            height: 70px;
            
        }
    }
}

.name-label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        text-align: left;
    }

    input {
        text-align: right;
    }
}

.contactForm-company {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        text-align: left;
    }

    input {
        text-align: right;
    }
}

.contactForm-email {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        text-align: left;
    }

    input {
        text-align: right;
    }
}

.contactForm-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        text-align: left;
    }

    input {
        text-align: right;
    }
}

.contactForm-message {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        text-align: left;
    }

    input {
        text-align: right;
    }
}